@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 300px;
  }
}

body {
	margin: 0;
}

.main-background {
  background-image: url(/themes/contrib/seeds_coat/images/login-bg.png);
  -webkit-animation: slide 17s linear infinite;
  -o-animation: slide 17s linear infinite;
  animation: slide 17s linear infinite;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: white;
  padding: 50px 15px;
  width: 100%;
  max-width: 600px;
  font-weight: 400;
}

.status-code {
  font-size: 172px;
  font-weight: 100;
  user-select: none;
  margin: 0;
}

.page-not-found {
  font-size: 22px;
  margin: 0;
}

.info a {
  font-size: 16px;
}
